.DS_Store
node_modules
drumline-client/build
drumline-client/.svelte-kit
drumline-lib/dist
drumline-server/dist
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
